<h2>{{ title }}</h2>

<form method="POST" action="#">
  <div class="form-group">
    <label for="inputmessage">Message</label>
    <textarea class="form-control" id="inputmessage" rows="3" name="message"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Send</button>
</form>